{
    pools: [
        {
            policy: {
                type: "ip_hash",
                extra_param: "my_param"
            },  
            servers: [
                {
                    server: "srv1.example.com",
                    weight: 3
                }, {
                    server: "src2.example.com",
                    weight: 2
                }
            ],
            name: "my_pool"
        }
    ],

    routes: [
        {
            type: "location",
            location: "the/path/to/the/good/stuff",
            pool: "my_pool"
        }
    ]
}
